/* Définition des polices personnalisées */

@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'), url('polices/ballpark.woff') format('woff'), url('polices/ballpark.ttf') format('truetype'), url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'), url('polices/dayrom.woff') format('woff'), url('polices/dayrom.ttf') format('truetype'), url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('image2/fond_jaune.png');
    color: #181818;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.bloc-page {
    width: 900px;
    margin: auto;
}

section h1,
footer h1,
nav a {
    font-family: dayrom, serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.header_content {
    background: url('image2/separateur.png');
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titer-principal {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: baseline;
    flex-direction: row
}

.log img {
    width: 57px;
    height: 60px;
}

.header_content h1 {
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

.header_content h2 {
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
}

.nav-items li {
    margin-left: 15px;
}

.nav-items a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

a:hover {
    color: brown;
    border-bottom: 1px solid black;
}

.image-zeo {
    background: url('image2/sanfrancisco.jpg') no-repeat;
    height: 201px;
    margin-bottom: 29px;
    position: relative;
    border-radius: 10px 5px 5px 10px;
    box-shadow: 10px 10px 6px black
}

.image-content-zeo {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    font-size: 0.8em;
}

.button-rouge {
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('image2/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.button-rouge img {
    border: 0
}

section {
    display: flex;
    margin-left: 20px
}

article,
aside {
    text-align: justify;
}

article {
    flex: 3;
    margin-right: 20px;
}

.icon-categori {
    vertical-align: middle;
    margin-right: 8px;
}

article p {
    font-size: 2, 4em;
}

aside {
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#bulle {
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor {
    text-align: center;
}

#photo_zozor img {
    border: 1px solid #181818;
}

aside img {
    margin-right: 5px;
}

footer {
    display: flex;
    padding-top: 25px;
    background: url('image2/ico_top.png') no-repeat top center, url('image2/separateur.png')repeat-x top, url('image2/ombre.png') repeat-x top
}

footer p,
footer ul {
    font-size: 0.8rem;
}

footer h1 {
    font-size: 1.1rem;
}

.tweet {
    width: 28%;
}

.photo {
    width: 35%
}

.photo img {
    border: 1px solid #3c1b1bb8;
}

.list-amis {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.list-amis ul {
    list-style-image: url('image2/ico_liensexterne.png');
}

.list-amis a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 8px 4px 8px 4px;
}